@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto";
  }

  body {
    overflow-x: hidden;
  }

  .input-container {
    @apply flex flex-col gap-y-2;
  }

  .input-container__label {
    @apply flex flex-col gap-y-2 text-sm font-medium;
  }

  .input-container__field {
    @apply rounded-sm px-4 py-1 text-base ring-1 ring-secondary;
  }

  .input-container__error-message {
    @apply flex justify-end text-sm font-medium text-error;
  }
}
